@import './app/shared/styles/odonto-page.css';
@import './app/shared/styles/dashboard-page.css';

/* Lufga Font Family */
@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaThin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaLight.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaRegular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaSemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Lufga";
  src: url("/assets/font/LufgaBlack.ttf") format("truetype");
  font-weight: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Lufga", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
